@charset "UTF-8";
/* CSS Document */
html, body {
	height:100%;

}
iframe{
	
	width:100%;
	height:100%;
	
}

#tablet_view, #mobile_view{
	display:none;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
ul{
	text-align:center;
	
}

.preview_tab{
	font-size:2.5em;
}

/*.tab{
	
}

#tab_container{	
	margin-top:2%;
	width:100%;
	margin:0 auto;
	clear:both;
	text-align:center;
	height:5%;
}

#tab_container ul{
list-style:none;

}
#tab_container ul li span {
	border-top:2px solid white;
	border-right:2px solid white;
	border-left:2px solid white;
}



.tabs li{
	float: left; 
	width:33%;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	
}

.tabs span {
	padding: 5px 40px; 
	display: block; 
	background: #ccc;
	text-decoration: none;
	color: #000;
	font-size:4em;
}*/






