<!DOCTYPE html>

<html>
	<head>
		<title>Collabb.it</title>

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />

		<style>
			#content {
				margin-top: 41px;
			}

			#editor {
				height: 100%;
				width: 100%;
			}

			.editor {
				position: relative;
				height: 100%;
			}

			#source {
				width: 100%;
				height: 100%;
			}
		</style>

		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>

		<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>

		<script>
			/**
			 * LAZY LOAD
			 */
			$( function() {
					// Initialize the editor
					initEditor();

					// Resize the window
					resize();

					// Bind to the window function
					$( window ).resize( function() { resize(); } );
				}
			);

			/**
			 * Resize the content pane
			 */
			function resize() {
				// Set the height of the content div
				$( "#content" ).height( $( window ).height() - $( "#content" ).offset().top );
				$( "#source" ).height( $( window ).height() - $( "#source" ).offset().top );
			}

			/**
			 * Initialize the Editor
			 */
			function initEditor() {
				// Load the editor
				var editor = ace.edit( "editor" );
				editor.setTheme("ace/theme/monokai");
				editor.getSession().setMode("ace/mode/html");
				editor.getSession().setUseWrapMode(true);

				// Bind a change function
				editor.on( 'change', function( e ) {
						// Get the text
						var x = editor.getValue();
						
						// Attempt to append the html
						try {
							// Update the local document
							// $( '#source' ).contents().find( 'html' ).html( x );
							$( '#source' ).attr( 'srcdoc', x );

							// Update the document on the server
							updateDocument( x );
						} catch(e) {}
					}
				);
				
				// TODO Load from db document.text
				editor.setValue(template);
			}

			function togglePreview() {
				$( ".view" ).toggle();
				$( ".editor").toggleClass( "span6" );
				$( ".editor").toggleClass( "span12" );
			}
			
			
var template = "<html><head><title>CATS IN PAJAMAS!</title><style type='text/css'>body{margin:0;padding:10px;background-color:#000;color:#F00;font-weight:bold;font-size:32pt;font-family:'Comic Sans MS'}" +
".smallerCrap{font-size:18pt;margin-top:18px}.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }.video-container iframe,.video-container object,.video-container embed {" +
"position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style></head><body><div>OMG LOLCATS IN PAJAMAS!!ONE1! IN COMIC SANS!</div><div class='video-container'>" +
"<iframe src='http://www.youtube.com/embed/G2BdbR_SAIs?showinfo=0&showsearch=0&modestbranding=1&autoplay=1&rel=0&border=0#t=1m40s' frameborder='0' width='560' height='315' allowfullscreen></iframe></div>" +
"<div class='smallerCrap'>Blame the guys next door at Mashable for posting this...</div></body></html>";
		</script>
	</head>

	<body>
		<!-- NAVIGATION -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="#">Collabb.it</a>
					<ul class="nav" role="navigation">
						<!-- ==================== FILE ==================== -->
						<li class="dropdown">
							<a class="dropdown-toggle" id="dropfile" role="button" data-toggle="dropdown" href="#">File <b class="caret"></b></a>
							<ul id="filemenu" class="dropdown-menu" role="menu" aria-labelledby="dropfile">
								<li><a tabindex="-1" href="#">New File</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Save</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Exit</a></li>
							</ul>
						</li>

						<!-- ==================== EDIT ==================== -->
						<li class="dropdown">
							<a class="dropdown-toggle" id="dropedit" role="button" data-toggle="dropdown" href="#">Edit <b class="caret"></b></a>
							<ul id="editmenu" class="dropdown-menu" role="menu" aria-labelledby="dropedit">
								<li><a tabindex="-1" href="#">Undo</a></li>
								<li><a tabindex="-1" href="#">Redo</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Cut</a></li>
								<li><a tabindex="-1" href="#">Copy</a></li>
								<li><a tabindex="-1" href="#">Paste</a></li>
							</ul>
						</li>

						<!-- ==================== VIEW ==================== -->
						<li class="dropdown">
							<a class="dropdown-toggle" id="dropview" role="button" data-toggle="dropdown" href="#">View <b class="caret"></b></a>
							<ul id="viewmenu" class="dropdown-menu" role="menu" aria-labelledby="dropview">
								<li><a tabindex="-1" href="#">Full Screen</a></li>
								<li><a tabindex="-1" href="#" onClick="togglePreview();">Preview</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Timeline</a></li>
							</ul>
						</li>
						
						<!-- ==================== HELP ==================== -->
						<li class="dropdown">
							<a class="dropdown-toggle" id="drophelp" role="button" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
							<ul id="helpmenu" class="dropdown-menu" role="menu" aria-labelledby="drophelp">
								<li><a tabindex="-1" href="#">Documentation</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">License</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Developers</a></li>
								</ul>
						</li>
					</ul> 
					
					<ul class="nav pull-right">
						<!-- ==================== USERS ==================== -->
						<li class="dropdown">
							<a class="dropdown-toggle" id="dropusers" role="button" data-toggle="dropdown" href="#">Users <b class="caret"></b></a>
							<ul id="usersmenu" class="dropdown-menu" role="menu" aria-labelledby="dropusers">
								<li><a tabindex="-1" href="#">Actively Editing</a></li>
								<li><a tabindex="-1" href="#">All Users</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- PAGE BODY -->
		<div id="content" class="row-fluid">
			<div class="span6 editor">
				<div id="editor"></div>
			</div>
			<div class="span6 view">
				<iframe id="source" height="100" width="100" seamless="seamless"></iframe>
				<!--
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#desktop" data-toggle="tab">Desktop</a></li>
						<li><a href="#tablet" data-toggle="tab">Tablet</a></li>
						<li><a href="#mobile" data-toggle="tab">Mobile</a></li>
					</ul>

					<div class="clearfix"></div>

					<div class="tab-content">
						<div class="tab-pane active" id="desktop">
							<iframe class="source"></iframe>
						</div>
						<div class="tab-pane" id="tablet">Tablet View</div>
						<div class="tab-pane" id="mobile">
							<iframe class="source"></iframe>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</body>
</html>