<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../css/css-reset.css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/script.js"></script>
<title>Collabb.it</title>
</head>
<body>
<div>Hi, <span id="username"></span><img src="" id="gravatar" /></div>
<div id="users">
	<div><span id="usercount">0</span> Users</div>
	<ul id="userlist"></ul>
</div>
Here is where the editor and preview go!
</body>