<!DOCTYPE html>
<html>
	<head>
		<title>Collabb.it</title>
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="../images/favicon.ico" sizes="16x16 32x32 48x48" type="image/vnd.microsoft.icon" />
		
		<link rel="icon" href="../images/collabbit_16x16.png" sizes="16x16" type="image/png" />
		<link rel="icon" href="../images/collabbit_32x32.png" sizes="32x32" type="image/png" />
		<link rel="icon" href="../images/collabbit_48x48.png" sizes="48x48" type="image/png" />
		<link rel="icon" href="../images/collabbit_64x64.png" sizes="64x64" type="image/png" />
		<link rel="icon" href="../images/collabbit_128x128.png" sizes="128x128" type="image/png" />
		<link rel="icon" href="../images/collabbit_256x256.png" sizes="256x256" type="image/png" />

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />

		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</head>

	<body>
		<!-- NAVBAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="#">Collabb.it</a>

					<ul class="nav">
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#team">The Team</a></li>
					</ul>
    			</div>
  			</div>
            </li>
                    </ul>
				</div>
			</div>
           
  			
		

            </div>
		</div>

		<!-- PAGE -->
		<div class="content">
			<!-- TOP -->
			<section id="top">
				<div class="row-fluid" style="min-width: 900px;">
					<div class="span5 pagination-centered"></div>
					<div class="span6 pagination-right">
						<h1>Collaborate. Edit. Enjoy.</h1>
						<div id="currentUser"><br/></div>
						<button id="btnLogin" class="btn btn-success btn-large">Create New Document</button>
					</div>
					<div class="span1 pagination-centered"></div>
				</div>
			</section>


			<!-- ABOUT -->
			<section id="about">
				<div class="row-fluid">
					<div class="span1 pagination-left"></div>
					<div class="span6 pagination-left">
						<h1>About Collabb.it<img src="../images/fang.png" style="height:70px; margin-top: -40px; margin-left: 5px;" /></h1>
						<p>
						Collabb.it is a web application that allows many users to edit the same HTML document concurrently. <br/><br/>
						Users can create a new document and share the URL with other developers, join a document provided by 
						another developer, or view a document as it is being created.
						<br/><br/><br/>
						<img src="../images/buggy.png" style="height:70px;margin-top: -40px; float:left;" />
						<strong style="font-size: 115%">Collabb.it is web development collaboration 
						without the pointy teeth!</strong></p>
					</div>
					<div class="span1 pagination-left"></div>
					<div class="span3 pagination-left">
						<div class="sponsors">
							<h3>Sponsored By:</h3>
								<a href="http://www.godaddy.com"><img src="../images/godaddy.png" style="height: 100px;" alt="Go Daddy"/></a>
								<br/><br/>
								<a href="http://www.signalfire.com"><img src="../images/signalfire.png" style="height: 100px;" alt="Signal Fire"/></a>
							</div>
						</div>
					</div>
					<div class="span1 pagination-left"></div>
				</div>
			</section>

			<!-- CONTACT -->
			<section id="contact">
				<div class="well">
					<div class="container-fluid">
						<h1>Contact Collabb.it</h1>

						<form method="post" action="" id="contactform">
							<fieldset>
								<!-- Name -->
								<div class="clearfix">
									<label for="name">
										Your Name<span class="help-required">*</span>
									</label>
									<div class="input">
										<input type="text" name="contactname" id="contactname" value="" class="span6 required" role="input" aria-required="true" />
									</div>
								</div>
								
								<!-- Email -->
								<div class="clearfix">
									<label for="email">
										Your Email<span class="help-required">*</span>
									</label>
									<div class="input">
										<input type="text" name="email" id="email" value="" class="span6 required email" role="input" aria-required="true" />
									</div>
								</div>

								<!-- Subject -->
								<div class="clearfix">
									<label for="subject">
										Subject<span class="help-required">*</span>
									</label>
									<div class="input">
										<input type="text" name="subject" id="subject" value="" class="span6 required" role="input" aria-required="true" />
									</div>
								</div>

								<!-- Message -->
								<div class="clearfix">
									<label for="message">Message<span class="help-required">*</span></label>
									<div class="input">
										<textarea rows="8" name="message" id="message" class="span10 required" role="textbox" aria-required="true"></textarea>
									</div>
								</div>

								<div class="actions">
									<input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn primary" title="Click here to submit your message!" />
									<input type="reset" value="Clear Form" class="btn" title="Remove all the data from the form." />
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>

			<!-- TEAM -->
			<section id="team">
				<div class="container-fluid">
					<div class="row-fluid" >
						<div class="span2 pagination-left"></div>
						<div class="span8 pagination-left"><h1>The Collabb.it Team</h1></div>
						<div class="span2 pagination-left"></div>
					</div>
					<div class="row-fluid" id="team">
						<div class="span2 pagination-left"></div>
						<div class="span4 pagination-left">
							<ul class="nav nav-pills nav-stacked">
								<li class="nav-header">Student Members</li>
								<li><a href="http://www.linkedin.com/pub/xinan-wang/25/783/b2a" target="linkedIn"><img src="http://www.gravatar.com/avatar/9f33eb595d952092b4ce08d86c3253d3?s=30" />Xinan Wang</a></li>
								<li><a href="http://www.linkedin.com/pub/brendan-conron/52/22/611" target="linkedIn"><img src="http://www.gravatar.com/avatar/a82654db2a2a17fac9f77e458a59f815?s=30" />Brendan Conron</a></li>
								<li><a href="http://www.linkedin.com/in/jpitzeruse" target="linkedIn"><img src="http://www.gravatar.com/avatar/b8380695473076ab190a18aa548242d3?s=30" />Jeremy Pitzeruse</a></li>
								<li><a href="mailto:sindhu22@gmail.com" target="linkedIn"><img src="http://www.gravatar.com/avatar/935804588aee7ceb019568b2e53a2d79?s=30" />Sindhu Suryanarayana</a></li>
							</ul>
						</div>
						<div class="span4 pagination-left">
							<ul class="nav nav-pills nav-stacked">
								<li class="nav-header">GoDaddy Members</li>
								<li><a href="http://www.linkedin.com/in/wildfiction" target="linkedIn"><img src="http://www.gravatar.com/avatar/d9f2c02c23a3013166710a1d24bca056?s=30" />Guy Ellis</a></li>
								<li><a href="http://www.linkedin.com/pub/aaron-silvas/6/762/581" target="linkedIn"><img src="http://www.gravatar.com/avatar/9e64baef8549d829306f7e36140b3b2a?s=30" />Aaron Silvas</a></li>
								<li><a href="http://www.linkedin.com/in/lindsayd" target="linkedIn"><img src="http://www.gravatar.com/avatar/7c340a830b0cb1f9651b532b8fe742d8?s=30" />Lindsay Donaghe</a></li>
								<li><a href="http://www.linkedin.com/in/stevecommisso" target="linkedIn"><img src="http://www.gravatar.com/avatar/ad6740168414ea06d3d8ddc94d3514e0?s=30" />Stephen Commisso</a></li>
							</ul>
						</div>
						<div class="span2 pagination-left"></div>
					</div>
				</div>
			</section>
		</div>
		<script src="../js/login.js"></script>
		<script src="../js/index.js"></script>
	</body>
</html>