<!DOCTYPE html>
<html>
	<head>
		<title>Collabb.it Collaborate Edit and Enjoy</title>
		<!-- Bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<h1>Collabb.it</h1>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<h3>Collaborate. Edit. Enjoy.</h3>

					<div class="bs-docs-example">
						<div id="navbar-example" class="navbar navbar-static">
							<div class="navbar-inner">
								<div class="container" style="width: auto;">
							<a class="brand" href="#">Document Name</a>
							<ul class="nav" role="navigation">
							<li class="dropdown">
								<a class="dropdown-toggle" id="dropfile" role="button" data-toggle="dropdown" href="#">File <b class="caret"></b></a>
								<ul id="filemenu" class="dropdown-menu" role="menu" aria-labelledby="dropfile">
									<li><a tabindex="-1" href="#">New File</a></li>
								<!--
									<li><a tabindex="-1" href="#">Open File</a></li>
									<li><a tabindex="-1" href="#">Open Folder</a></li>
									<li><a tabindex="-1" href="#">Open Recent</a></li>
								-->
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Save</a></li>
								<!--
									<li><a tabindex="-1" href="#">Save As</a></li>
									<li><a tabindex="-1" href="#">Save All</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">New Window</a></li>
									<li><a tabindex="-1" href="#">Close Window</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Close File</a></li>
									<li><a tabindex="-1" href="#">Close Without Saving</a></li>
									<li><a tabindex="-1" href="#">Revert File</a></li>
									<li><a tabindex="-1" href="#">Close All Files</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Sign Out</a></li>
								-->
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Exit</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" id="dropedit" role="button" data-toggle="dropdown" href="#">Edit <b class="caret"></b></a>
								<ul id="editmenu" class="dropdown-menu" role="menu" aria-labelledby="dropedit">
									<li><a tabindex="-1" href="#">Undo</a></li>
									<li><a tabindex="-1" href="#">Redo</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Cut</a></li>
									<li><a tabindex="-1" href="#">Copy</a></li>
									<li><a tabindex="-1" href="#">Paste</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" id="dropview" role="button" data-toggle="dropdown" href="#">View <b class="caret"></b></a>
								<ul id="viewmenu" class="dropdown-menu" role="menu" aria-labelledby="dropview">
									<li><a tabindex="-1" href="#">Full Screen</a></li>
									<li><a tabindex="-1" href="#">Preview</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Timeline</a></li>
									<!--
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Active Users</a></li>
									<li><a tabindex="-1" href="#">All Users</a></li>
									-->
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" id="drophelp" role="button" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
								<ul id="helpmenu" class="dropdown-menu" role="menu" aria-labelledby="drophelp">
									<li><a tabindex="-1" href="#">Documentation</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">License</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Developers</a></li>
									</ul>
							</li>
						</ul> 
						<div class="bs-docs-example">
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" id="dropusers" role="button" data-toggle="dropdown" href="#">Users <b class="caret"></b></a>
								<ul id="usersmenu" class="dropdown-menu" role="menu" aria-labelledby="dropusers">
									<li><a tabindex="-1" href="#">Actively Editing</a></li>
									<li><a tabindex="-1" href="#">All Users</a></li>
								</ul>
							</li>
							<!--
							<li class="dropdown">
								<a class="dropdown-toggle" id="dropsignout" role="button" data-toggle="dropdown" href="#">Sign Out <b class="caret"></b></a>
								<ul id="signoutmenu" class="dropdown-menu" role="menu" aria-labelledby="dropsignout">
									<li><a tabindex="-1" href="#">Idle</a></li>
									<li><a tabindex="-1" href="#">Busy</a></li>
									<li><a tabindex="-1" href="#">Invisible</a></li>
									<li><a tabindex="-1" href="#">Sign Out</a></li>
								</ul>
							</li>
							-->
							<ul>
							</div>
							<div id="push"></div>
		</div>
	</body>
</html>