<<<<<<< HEAD
@charset "UTF-8";
/* CSS Document */
#slider{
	display:none;
	width:80%;
	margin:0 auto;
	clear:both;		
}

#slide_container{
	width:100%;	
}

#fullscreen-icon,
#timeline-icon,
#preview-icon {
	margin-top: 12px;
}

#content {
	margin-top: 41px;
}

#editor {
	height: 100%;
	width: 100%;
}

.editor {
	position: relative;
	height: 100%;
}

#source {
	width: 100%;
	height: 100%;
}
#gravatar {
	margin: 3px 7px;
}
#userlist{
	list-style: none;
	margin-left: 20px;
}
#userlist li {
	padding: 5px 5px 5px 0;
}
#userlist li span {
	display: block;
	padding: 3px;
	font-style: bold;
=======
@charset "UTF-8";
/* CSS Document */
#slider, #back_button, #forward_button{
	display:none;
	width:80%;	
}

#back_button, #forward_button{
	width:6%;
}

#playback_container{
	width:100%;	
}

#content {
	margin-top: 41px;
}

#editor {
	height: 100%;
	width: 100%;
}

.editor {
	position: relative;
	height: 100%;
}

#source {
	width: 100%;
	height: 100%;
}
#gravatar {
	margin: 3px 7px;
}
#userlist{
	list-style: none;
	margin-left: 20px;
}
#userlist li {
	padding: 5px 5px 5px 0;
}
#userlist li span {
	display: block;
	padding: 3px;
	font-style: bold;
>>>>>>> 4fbe61be894f0ae5d042de262132da99418ba840
}