@charset "UTF-8";
/* CSS Document */
#slider_container{
	display:none;
	margin-top:41px;
}

#slider > a {
	height:35px;
}
#fullscreen-icon,
#timeline-icon,
#preview-icon {
	margin-top: 12px;
}


.nav li:hover{
	cursor:hand;
	cursor:pointer;
}

#content {
	margin-top: 41px;
}

#editor {
	height: 100%;
	width: 100%;
}

.editor {
	position: relative;
	height: 100%;
}

#source {
	width: 100%;
	height: 100%;
}
#gravatar {
	margin: 3px 7px;
}
#userlist{
	list-style: none;
	margin-left: 20px;
}
#userlist li {
	padding: 5px 5px 5px 0;
}
#userlist li span {
	display: block;
	padding: 3px;
	font-style: bold;
}