section {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 200px;
}

section#top {
	background: #e9fcff url( ../images/mainlogo.png ) no-repeat center center;
	height: 400px;
	padding: 50px 0 10px;
}
section#top h1 {
	font-size: 220%;
}

#currentUser {
	margin-bottom: 7px;
}

section#about {
	background: #fff;
}

section#contact {
	background: #fff;
}

section#contact .well {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 800px;
}

section#team {
	background: #000;
	color: #fff;
}

.btn-success{
	background: #40bce2;
	font-weight: bold;
}

.btn-success:hover {
	background: #ff86d6;
}
#team .nav li {
	margin: 2px 0;
}
#team .nav li  img{
	border: 2px solid #fff;
	margin-right: 10px;
}