@charset "UTF-8";
/* CSS Document */
#time-edit{
	width:100%;
	height:5%;
	text-align:center;
}

#playbackSlider{
	width:50%;
}

#sliderVal{
	margin:0 auto;
	clear:both;
	font-family:Futura;
	font-size:3em;
	text-align:center;	
}
#gravatar {
	margin: 2px 0 2px 5px;
}
#userlist ul {
	list-item-style: none;
}
#userlist li {
	padding: 5px 10px;
	border-bottom: 1px solid #fff;
	margin: 5px 0;
}
#userlist li span {
	display: block;
	padding: 3px;
	font-style: bold;
}
