@charset "UTF-8";
/* CSS Document */
#time-edit{
	width:100%;
	height:5%;
	text-align:center;
}

#playbackSlider{
	width:50%;
}

#sliderVal{
	margin:0 auto;
	clear:both;
	font-family:Futura;
	font-size:3em;
	text-align:center;	
}
